<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
</head>
<body>
    <h1>About</h1>
    <p>This is a bio about myself. First off, I hate writing about myself. Mostly because I tend to take a neurotic approach to self-criticism. I come from a humble beginning and where I come from, people do not usually "make it". In fact, the fact that I dropped out of college or the fact I went at all makes me an argument against statistics. I have recently started my path to a career in tech by attending a coding bootcamp. Ultimately, I hope to work in cybersecurity.</p>
    <a href="/">Home</a>
</body>
</html>